<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PFI{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <div style="display: flex; min-height: 100vh;">
        {% include 'sidebar.html' %}
        <div style="flex: 1;">
            {% include 'navbar.html' %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block js %}
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    {% endblock %}
</body>
</html>